version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "deps"
      prefix-development: "deps(dev)"
    cooldown:
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - version-update:semver-major
